/* This section eliminates the default whitespace margin so that our custom background color fills in the entire page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Times New Roman",serif;
	color: #ffffff;
}


/* This overall section sets up the layout of the page */

/* This container splits the page into the top Menu-Panel and the Page container */
.Container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #2e180f;
}

/* This is the formatting for the Menu-Panel */
.Menu-Panel {
	display: flex;
	position: fixed;
	height: 30px;
	width: 100%;
	background-color: #272020;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* This container allows flexbox arranging of the Side-Panel and the Content-Panel */
.Page {
	display: flex;
	min-height: 100vh;
	padding-top: 30px;
}

/* This is the formatting for the Side-Panel */
.Side-Panel {
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	background-color: #964B00;
	text-align: center;
}

/* This is the formatting for the Content-Panel */
.Content-Panel {
	flex: 1 1 0px;
	padding: 20px;
	background-color: #2e180f;
}

.Card-Organizer {
	display: flex;
	gap: 20px;
}


/* Now we're getting to the formatting of the content itself */

/* Headers */
h1 {
	margin-bottom: 15px;
}

/* Paragraphs */
p {
	margin-bottom: 8px;
}

/* Links */
a {
	background-color: #820f0f;
	padding: 2px 5px;
	border-radius: 6px;
	text-decoration: none;
	font-weight: 700;
}

/* Lists */
ul {
	padding: 0px 25px;
}

.Item-Card {
	flex: 0 0 250px;
	border: 2px solid #820f0f;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Item-Card h1 {
	flex: 0 0 auto;
}

.Item-Card h4 {
	flex: 0 0 auto;
}

.Item-Card p {
	flex: 1 1 0;
	margin: 10px 0;
	font-size: 14px;
}