/* This section eliminates the default whitespace margin so that our custom background color fills in the entire page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Times New Roman",serif;
	color: #ffffff;
}


/* This overall section sets up the layout of the page */
/* This container splits the page into the top Menu-Panel and the Page container */
.Container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #2e180f;
}

/* This is the formatting for the Menu-Panel */
.Menu-Panel {
	display: flex;
	position: fixed;
	height: 30px;
	width: 100%;
	background-color: #272020;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* This container allows flexbox arranging of the Side-Panel and the Content-Panel */
.Page {
	display: flex;
	min-height: 100vh;
	padding-top: 30px;
}

/* This is the formatting for the Side-Panel */
.Side-Panel {
	flex: 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	background-color: #964B00;
	text-align: center;
}

/* This is the formatting for the Content-Panel */
.Content-Panel {
	flex: 1 1 0px;
	padding: 20px;
	background-color: #2a2117;
}


/* Now we're getting to the formatting of the content itself */

/* Articles group relevant sections together */
article {
	margin-bottom: 30px;
}

/* Headers */
h1 {
	margin-bottom: 15px;
}

/* Paragraphs */
p {
	margin-bottom: 10px;
}

/* Links */
a {
	background-color: #820f0f;
	padding: 2px 5px;
	border-radius: 6px;
	text-decoration: none;
	font-weight: 700;
}

/* Lists */
ul, ol {
	padding: 0px 25px;
	margin-bottom: 10px;
}

/* The Terminology Page */
.Terminology-Card-Organizer {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.Item-Card {
	border: 5px solid #820f0f;
	border-radius: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Terminology-Card-Organizer .Item-Card {
	flex: 0 0 260px;
}

.Item-Card h1,
.Item-Card h2,
.Item-Card h3 {
	flex: 0 0 auto;
	margin: 2px 0;
}

.Item-Card h3 {
	text-decoration: underline;
}

.Item-Card p {
	flex: 1 1 0;
	margin: 5px 0;
	font-size: 14px;
	text-align: center;
}

.Highlight {
	margin: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Highlight h2 {
	background-color: #964B00;
	padding: 5px;
	border: 10px solid #820f0f;
	border-radius: 10px;
}

/* The Effects Page, except Item-Card formatting */
.Effects-Card-Organizer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.Effects-Card-Organizer h2 {
	margin-top: 20px;
}

.Effects-Card-Organizer .Item-Card {
	flex: 0 0 auto;
}