/* This code imports the custom font style */
@font-face {
	font-family: 'Kranky';
	src: url('fonts/Kranky-Regular.ttf');
}


/* This section eliminates the default whitespace margin so that our custom background color fills in the entire page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* This container splits the page into the top menu panel and the main content panel */
.Container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #2e180f;
}


/* This is the formatting for the Menu-Panel */
.Menu-Panel {
	position: fixed;
	height: 32px;
	width: 100%;
	font-family: Kranky, 'Times New Roman', serif;
	background-color: #000000;
	text-align: center;
}


/* This is the formatting for the Side-Panel */
.Side-Panel {
	position: fixed;
	top: 32px;
	bottom: 0;
	width: 200px;
	font-family: Kranky, 'Times New Roman', serif;
	padding: 5px;
	padding-top: 15px;
	background-color: #964B00;
	text-align: center;
}


/* This is the formatting for the Content-Panel */
.Content-Panel {
	flex-grow: 1;
	margin-top: 32px;
	margin-left: 200px;
	font-family: Kranky, 'Times New Roman', serif;
	padding: 20px;
	background-color: #2e180f;
	color: #ffffff;
}
