/* Custom font import code */
@font-face {
	font-family: 'Kranky';
	src: url('fonts/Kranky-Regular.ttf');
}


/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Formatting for the entire page background */
.Container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #2e180f;
}


/* The formatting for the Menu-Panel */
.Menu-Panel {
	position: fixed;
	height: 32px;
	width: 100%;
	font-family: Kranky, 'Times New Roman', serif;
	background-color: #000000;
	text-align: center;
}


/* The formatting for the Side-Panel */
.Side-Panel {
	position: fixed;
	top: 32px;
	bottom: 0;
	width: 200px;
	font-family: Kranky, 'Times New Roman', serif;
	padding: 5px;
	padding-top: 15px;
	background-color: #964B00;
	text-align: center;
	white-space: nowrap;
	overflow: auto;
}


/* The formatting for the Main-Panel */
.Main-Panel {
	flex-grow: 1;
	margin-top: 32px;
	margin-left: 200px;
	font-family: Kranky, 'Times New Roman', serif;
	padding: 20px;
	background-color: #2e180f;
	color: #ffffff;
}
